  
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <script>
        $(function () {
            $("#id12").load("navbar.html");
        });
    </script>
    <script src="jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
    crossorigin="anonymous"/>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    
    <script src="jquery.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-storage.js"></script>
    <script src="js/index.js"></script>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/templatemo-art-factory.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/owl-carousel.css">


    <title>Home</title>
</head>

<body>

      <!-- ***** Preloader Start ***** -->
      <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

        <!-- ***** Header Area Start ***** -->
        <header class="header-area header-sticky">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <nav class="main-nav">
                          <!-- ***** Logo Start ***** -->
                          <a href="/" class="logo"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Admin Portal</a>
                          <!-- ***** Logo End ***** -->
                          <!-- ***** Menu Start ***** -->
                          <ul class="nav">
                              <li class="scroll-to-section"><a href="/" class="active">Home</a></li>
                              <li class="scroll-to-section"><a href="/users">USERS</a></li>
                              <li class="scroll-to-section"><a href="/classrooms">CLASSROOMS</a></li>
                              <li class="scroll-to-section"><a href="/labs">LABS</a></li>
                              <li class="scroll-to-section"><a href="/sports">SPORTS</a></li>
                              <li class="scroll-to-section"><a href="/addslot">ADD SLOT</a></li>
                              <li class="scroll-to-section"><a href="/logout"><b><i class="fa fa-sign-in" aria-hidden="true"></i> &nbsp; Logout</b></a></li>
                          </ul>
                          <a class='menu-trigger'>
                              <span>Menu</span>
                          </a>
                          <!-- ***** Menu End ***** -->
                      </nav>
                  </div>
              </div>
          </div>
      </header>
      <!-- ***** Header Area End ***** -->

    <nav class="navbar py-0 navbar-expand-lg navbar-dark bg-info">
      <!-- ***** Welcome Area Start ***** -->
      <div class="welcome-area" id="welcome">
  
          <!-- ***** Header Text Start ***** -->
          <div class="header-text">
              <div class="container">
                  <div class="row">
                      <div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                          <h2>Campus Facility Booking IIT Ropar</h2> </br>
                          <p>Android application to manage all campus facility booking purposes. This is admin portal to manage app database.</p>
                          <a class="main-button-slider" href="#addfacility">Manage Facility</a> &nbsp; &nbsp;
                          <a class="main-button-slider" href="https://github.com/CS305-software-Engineering/App-for-campus-facility-booking/releases/download/Application/campusfacilitybooking.apk"><i class="fa fa-android" aria-hidden="true"></i> &nbsp;GET APP</a>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                          <img src="../img/administrator.svg" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">
                      </div>
                  </div>
              </div>
          </div>
          <!-- ***** Header Text End ***** -->
      </div>
      <!-- ***** Welcome Area End ***** -->
  </nav>

    <section class="h-100" id="addfacility">
      <div class="position-absolute h-100 w-100" style="
              z-index: -1;
              /* background-image: url('images/back.jpg'); */
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
              background-position: center;
          "></div>

          <div class="container h-100 py-5">
            <div class="d-flex justify-content-center align-items-center mb-3">
              <div class="col-sm-8 text-center">
                  
                <h5>Welcome to CFB Web Admin</h5>
                <h1 class="font-weight-bold">
                    CAMPUS • FACILITY • BOOKING 
                </h1>
                <h5 class="text-muted font-weight-normal">
                    Do CRUD Operations on CFB Database !!
                </h5>
                <div class="">
                    <div class="btn btn btn-info">
                        <!-- Subscribe now -->
                    </div>
                    <div class="btn btn ml-3 btn-outline-info">
                        <!-- Learn more -->
                    </div>
                </div>
              </div>
              </div>
          </div>
  </div>
  </section>


  <div class="col d-flex justify-content-center">

    <!-- spacing -->
    <div class="mt-4" />

    <a href="classrooms" class="custom-card">
      <div class="card" style="width: 15rem; display: inline-block">
        <img class="card-img-top" src="../img/classroom.svg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">CLASSROOMS</h5>
          <p class="card-text">CRUD classrooms data</p>
        </div>
      </div>
    </a>
    &nbsp; &nbsp; &nbsp;
    <a href="labs" class="custom-card">
      <div class="card" style="width: 15rem; display: inline-block">
        <img class="card-img-top" src="../img/chemistry.svg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">LABS</h5>
          <p class="card-text">CRUD labs data</p>
        </div>
      </div>
    </a>
    &nbsp; &nbsp; &nbsp;
    <a href="sports" class="custom-card">
      <div class="card" style="width: 15rem; display: inline-block">
        <img class="card-img-top" src="../img/sports.svg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">SPORTS</h5>
          <p class="card-text">CRUD sports data</p>
        </div>
      </div>
    </a>
</div>  


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
    <!-- jQuery -->
    <script src="../assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="../assets/js/popper.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="../assets/js/owl-carousel.js"></script>
    <script src="../assets/js/scrollreveal.min.js"></script>
    <script src="../assets/js/waypoints.min.js"></script>
    <script src="../assets/js/jquery.counterup.min.js"></script>
    <script src="../assets/js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="../assets/js/custom.js"></script>

  </body>
</html>
