<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cfb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusFacilityBooking">
        <activity android:name=".MarkAttendanceActivity"></activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".LabBooking.LabSlotActivity" />
        <activity android:name=".LabBooking.SearchByLabNameActivity" />
        <activity android:name=".LabBooking.LabBookingActivity" />
        <activity android:name=".ClassroomBooking.ClassRoomBookingActivity" />
        <activity android:name=".ViewBookingHistoryActivity" />
        <activity android:name=".ClassroomBooking.ViewRoomByCapacityActivity" />
        <activity android:name=".ClassroomBooking.SearchByClassRoomCapacityActivity" />
        <activity android:name=".ConfirmBookingActivity" />
        <activity android:name=".ClassroomBooking.RoomSlotActivity" />
        <activity android:name=".verify_mobile" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".HomePageActivity" />
        <activity android:name=".ClassroomBooking.SearchByClassRoomNameActivity" />
        <activity android:name=".SportBooking.SearchBySportsNameActivity" />
        <activity android:name=".SportBooking.SportsSlotActivity" />
        <activity android:name=".SportBooking.SportsBookingActivity" />
        <activity android:name=".LabBooking.ConfirmLabBookingActivity" />
    </application>

</manifest>